@charset "utf-8";

body { 
  padding: 5px;
  font-size: 100%;
  font-family: 'Helvetica Neue', 'Meiryo UI', Arial, sans-serif;
  color: #1C1C1C; /* 墨色 */
  background-color: #FCFAF2; /* 白練色 */
}

/* 全テーブル共通設定 */
table, th, tr, td {
  border: 1px solid #000;
}

/*********************************************/
/*********************************************/
/* 上段：凡例とチャート部分                                                   */
/*********************************************/
/*********************************************/
.chart-container{ /* 上段パネル共通 */
  overflow: hidden;
}

.chart-container-child{ /* 上段パネルの構成要素 */
  float:left;
  height: 660px;
  border-style: solid;
  border-width: 1px;
  border-color: #7f7f7f;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 20px;
}

/*********************************************/
/* 上段左：凡例ボックス                                                         */
/*********************************************/
.explain { /* 凡例ボックス */
  width: 200px;
}

/*********************************************/
/* 上段中：5分足チャートボックス                                             */
/*********************************************/
.chart-5min { /* 5分足ボックス */
  width: 800px;
}

/*********************************************/
/* 上段右：日足チャート部分ボックス                                         */
/*********************************************/
.chart-day { /* 日足ボックス */
  width: 800px;
}

/*********************************************/
/*********************************************/
/* 中段：コンパネ部分(共通)                                                  */
/*********************************************/
/*********************************************/
.ctrl-panel-container { /* 中段パネル共通 */
  overflow: hidden;
}

.ctrl-panel-container-child{ /* 中段パネルの構成要素 */
  float:left;
  height: 250px;
  border-style: solid;
  border-width: 1px;
  border-color: #7f7f7f;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 20px;
}

/*********************************************/
/* 中段左：ユーザー設定                                                       */
/*********************************************/
.user-settings { /* コンパネユーザー設定 */
  float:left;
  padding: 5px;
  width: 250px;
}

.user-settings label {
  text-align: right;
  display: block;
  float: left;
  width: 70px;
  padding: 0px 10px 0px 0px;
}

.user-settings-input {
  width: 120px;
}

.user-settings p.user-settings-button {
  text-align: center;
  margin: 15px 0;
}

/*********************************************/
/* 中段中左：コントローラー                                                    */
/*********************************************/
.controller { /* コンパネコントローラー */
  width: 350px;
  padding: 5px;
  text-align: center;
}

.controller label.signal {
  font-weight: bold;
  font-size: 1.6em;
}

.controller label.current-time {
  font-size: 1.6em;
  font-weight: bold;
}

/*********************************************/
/* 中段中右：現在情報                                                        */
/*********************************************/
div.current-info { 
  margin: 15px 5px 5px 5px;
  width: 350px;
  height: 90%;
}

div.current-price {
  text-align: center;
}

label.current-price {
  font-weight: bold;
  font-size: 1.8em;
}

div.current-info-table {
  width: 100%;
  margin-top:20px;
}

.current-info td {
  width: 350px;
  text-align: right;
}

/*********************************************/
/* 中段右：注文パネル                                                          */
/*********************************************/
.order-panel { /* コンパネ注文 */
  width:700px;
}

/* market-order-ctrl */
#market-order-ctrl:checked ~ #order-panels #market-order main {
  max-height: initial;
  opacity: 1;
  padding: 10px 10px;
}

#market-order-ctrl:checked ~ #tabs-list #li-for-market-order {
  pointer-events: none;
  cursor: default;
  -webkit-transform: translate3d(0, 1px, 0);
  transform: translate3d(0, 1px, 0);
  box-shadow: none;
  border-right: none;
}

#market-order-ctrl:checked ~ #tabs-list #li-for-market-order.last {
  border-right: 1px solid transparent;
}

#market-order-ctrl:checked ~ #tabs-list #li-for-market-order + li {
  border-left: 1px solid #dfdfdf;
}

#market-order-ctrl:checked ~ #tabs-list #li-for-market-order label.panel-label {
  background-color: white;
  color: #003399;
  padding-top: 10px;
}

#market-order-ctrl:checked ~ #tabs-list #li-for-market-order label.panel-label::after {
  height: 6px;
}

/* ifdoco-ctrl */
#ifdoco-ctrl:checked ~ #order-panels #ifdoco main {
  max-height: initial;
  opacity: 1;
  padding: 10px 10px;
}

#ifdoco-ctrl:checked ~ #tabs-list #li-for-ifdoco {
  pointer-events: none;
  cursor: default;
  -webkit-transform: translate3d(0, 1px, 0);
  transform: translate3d(0, 1px, 0);
  box-shadow: none;
  border-right: none;
}

#ifdoco-ctrl:checked ~ #tabs-list #li-for-ifdoco.last {
  border-right: 1px solid transparent;
}

#ifdoco-ctrl:checked ~ #tabs-list #li-for-ifdoco + li {
  border-left: 1px solid #dfdfdf;
}

#ifdoco-ctrl:checked ~ #tabs-list #li-for-ifdoco label.panel-label {
  background-color: white;
  color: #003399;
  padding-top: 10px;
}

#ifdoco-ctrl:checked ~ #tabs-list #li-for-ifdoco label.panel-label::after {
  height: 6px;
}

.panel-radios {
  display: none;
}

/* tabs-list */
ul#tabs-list {
  display: flex;
  list-style: none;
  text-align: center;
  border-bottom: 1px solid #dfdfdf;
  margin: 0;
  padding: 0;
}
ul#tabs-list li {
  text-align: center;
  font-size: 0.875em;
  width: 18%;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.05);
  border-right: 1px solid #dfdfdf;
  position: relative;
}
ul#tabs-list li:hover {
  -webkit-transition: none;
  transition: none;
  border-right: none;
}
ul#tabs-list li:hover.last {
  border-right: 1px solid transparent;
}
ul#tabs-list li:hover + li {
  border-left: 1px solid #dfdfdf;
}
ul#tabs-list li label.panel-label {
  position: relative;
  padding: 10px 0;
  font-size: 1.0em;
}
ul#tabs-list li label.panel-label::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 100%;
  background-color: #003399;
  height: 0;
  -webkit-transition-property: height;
  transition-property: height;
}
ul#tabs-list li label.panel-label:hover {
  padding-top: 10px;
}
ul#tabs-list li label.panel-label:hover::after {
  height: 6px;
}

label.panel-label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  width: 100%;
  color: #bdc3c7;
  cursor: pointer;
  background-color: #ecf0f1;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

label.panel-label:hover {
  color: #003399;
}

/* article id="order-panels" */
#order-panels .order-panels-container {
  float: left;
  margin: 0 auto;
  width: 90%;
}
#order-panels section header label.panel-label {
  padding: 10px 10px;
  box-sizing: border-box;
}
#order-panels section main {
  box-sizing: border-box;
  max-height: 0;
  opacity: 0;
  overflow-y: hidden;
}

#order-panels  input.sell-button {
  font-size: 1.4em;
  color: #ffffff;
  background-color: #009826; /* みどり */
  height: 80px;
  width: 80px;
}

#order-panels input.buy-button {
  font-size: 1.4em;
  color: #ffffff;
  background-color: #cb0000; /* あか */
  height: 80px;
  width: 80px;
}

input.order-textbox {
  width: 50px;
}

div.market-order-panel {
  float:left;
  margin: 20px 20px 20px 0;
  text-align: center;
}

.market-order-panel th, td {
  text-align: center;
}

.ifdoco-table {
  float: left;
}

.order-button {
  clear: both;
  float: right;
}


/*********************************************/
/*********************************************/
/* 下段：トレード履歴                                                            */
/*********************************************/
/*********************************************/
.history-container{　/* トレード履歴 */
  clear: both;
  border-style: solid;
  border-width: 1px;
  border-color: #7f7f7f;
  border-radius: 5px;
  padding: 5px;
}
